/*
 *
 * MMM-Jeopardy
 *
 * Adrian Chrysanthou
 * MIT Licensed.
 */

 .MMM-JEOPARDY .xsmall.bright.light {
  color: white;               /* Header color. Default is white. */
  text-align: left;           /* Align header text. (left, center, right) */
}

.MMM-JEOPARDY .xsmall.bright {
  color: white;               /* Color the clue. Default is white. */
  text-align: left;           /* Align the clue. (left, center, right) */
}

.MMM-JEOPARDY .small.bright {
  color: yellow;               /* Color the answer. Default is white. */
  text-align: left;           /* Align the answer. (left, center, right) */
}

.MMM-JEOPARDY .img {
	width: 250px;
	margin-bottom: -20px;
}